.header {
  background-color: blue;
  color: white;
}
.header-logo {
  font-size: 30px
}
ul {
  list-style: none;
}

.muscle {
  font-size: 80px;
}

.image1 {
  width: 300px;
  padding-left: 45px;
}
/* .image2 {
  width: 300px; 
  padding-left: 45px;
} */

.introduction {
  font-size: 35px;
}

.contents-item-one {
  width: 300px;
}

.footer {
  background: darkslategray;
  color: white;
  margin-top: 80px;
}